@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@300;400;500;600&display=swap');

@theme {
  --font-heading: 'Merriweather', serif;
  --font-body: 'Open Sans', sans-serif;
  --color-coral: #C84536;
  --color-deep-blue: #3A4A7A;
}

.small-caps {
  font-variant: small-caps;
}
